.client-tickets {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--surface-color);
    border-radius: 8px;
    gap: 16px;
    margin-bottom: 20px;
    padding: 16px 20px 20px;

    .client-tickets-header {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
            width: 90%;
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--text-primary);
        }

        .add-ticket-button {
            display: flex;
            align-items: center;
            width: fit-content;
            justify-content: end;
            gap: 6px;
            background-color: transparent;
            border: 1px solid var(--tiffany-blue);
            color: var(--tiffany-blue);
            font-size: 14px;
            cursor: pointer;
            margin: 10px 10px;
            padding: 8px 14px;
            border-radius: 8px;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: rgba(29, 161, 242, 0.1);
                color: var(--text-color);
            }

            svg {
                font-size: 16px;
            }
        }
    }

    .ticket-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .no-tickets {
        color: var(--text-secondary);
        font-style: italic;
        text-align: center;
        margin-top: 15px;
    }
}
