/* Tickets Tab Container */
.tickets-tab {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex: 1;
}

/* Tickets Header */
.tickets-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.tickets-header h1 {
    font-size: 2rem;
    color: var(--text-color);
    /* Adapt text color based on theme */
}

/* Add Ticket Button */
.add-ticket-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    background-color: var(--button-bg-color);
    /* Button background */
    color: var(--button-text-color);
    /* Button text color */
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-ticket-btn:hover {
    background-color: var(--ultra-violet);
    /* Darker hover effect */
    color: var(--seasalt);
    /* Light hover text */
}

/* Tickets Container */
.tickets-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 96%;
    /* margin-bottom: 10px; */
    /* overflow-y: auto; */
    overflow-x: hidden;
    max-height: 850px;
    /* Allow scrolling within the container */
}

/* Tickets Footer */
.tickets-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

/* Pagination Buttons */
.prev-btn,
.next-btn {
    background-color: var(--button-bg-color);
    /* Button background */
    color: var(--button-text-color);
    /* Button text */
    /* border: none; */
    width: fit-content;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.prev-btn:disabled,
.next-btn:disabled {
    background-color: var(--login-bg);
    /* Disabled button background */
    color: var(--text-color);
    /* Disabled text color */
    cursor: not-allowed;
}

.prev-btn:hover:not(:disabled),
.next-btn:hover:not(:disabled) {
    background-color: var(--ultra-violet);
    /* Darker background on hover */
}

/* Loader (for loading state) */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--seasalt);
    /* Outer part adapts to theme */
    border-top: 5px solid var(--button-bg-color);
    /* Themed rotating part */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

/* Spin Animation for Loader */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}