.theme-switch-container {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 10px;
    /* color: var(--text-color); */
    /* Adapt text color based on theme */
}

/* Toggle Switch */
.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider (The toggle button) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-bg-color);
    /* Adapt background color based on theme */
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--button-text-color);
    /* Adapt knob color based on theme */
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--button-bg-color);
    /* Keep the same button color when checked */
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Hover effect for slider */
.slider:hover {
    opacity: 0.8;
}