button.btn,
a.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 4px;

    padding: 10px 15px;

    background-color: var(--button-bg-color);
    color: var(--button-text-color);

    font-size: 16px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    transition: all 0.3s ease;
}

button.btn,
a.btn {
    &.btn-icon {
        width: 40px;
        height: 40px;

        padding: 0;

        border-radius: 50%;

        .btn-icon-icon {
            width: 20px;
            height: 20px;
        }
    }

    &.btn-add-item {
        gap: 8px;

        width: 100%;

        margin: 0;

        border-radius: 8px;

        white-space: nowrap;
    }

    &.btn-action {
        width: 32px;
        height: 32px;

        padding: 0;
        margin: 0;

        background-color: transparent;
        color: var(--text-color);

        .btn-icon-icon {
            width: 20px;
            height: 20px;
        }
    }

    &.btn-danger {
        background-color: var(--razzmatazz);

        &.btn-action {
            background-color: transparent;

            &:hover {
                color: var(--razzmatazz);
            }
        }
    }
}