.my-account-tab {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    /* height: 62.8vh; */
    border-radius: 10px;
    padding: 0 20px;
    /* margin-top: 20px; */
    /* background-color: var(--background-color); */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* Subtle shadow */
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--text-color);
}

.my-account-tab h1 {
    font-size: 1.5rem;
    /* margin-bottom: 20px; */
    text-align: center;
    /* color: #333; */
}

.account-details-container {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: center;
    align-items: flex-start;
}

.account-details-container-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.my-account-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
}

.my-account-header button {
    width: fit-content;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
}

.account-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-items: center;
    width: 100%;
}

.account-picture-container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
}

.details-1,
.details-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    /* margin-bottom: 10px; */
}

.details-1 span,
.details-2 span {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    width: 100%;
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--text-color);
    border: 1px solid #ccc;
    background-color: var(--semitransparent-bg);
}