/* Footer Styles */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--footer-bg-color);
    text-align: center;
    color: var(--text-color);
}

.footer-links a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}