.ticket-details-tab {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    background-color: var(--background-color);
    /* Adapt based on theme */
    color: var(--text-color);
    /* Adapt text color based on theme */
    border-radius: 12px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100%;
}

.ticket-details-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.ticket-details-header-left {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.ticket-details-header-left h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
}

.ticket-details-header-right {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-right: 20px;
}

.ticket-details-header-right span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}

button {
    background-color: var(--button-bg-color);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--button-text-color);
    padding: 0.6rem 0.6rem;
    /* Add padding to make the buttons bigger */
    border-radius: 50px;
    /* Slightly round the corners */
    font-size: 1rem;
    /* Increase font size for better readability */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.notes-container button {
    border: none;
}

.ticket-description-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-left: 20px;
    /* padding-right: 20px; */
    width: 100%;
}

.ticket-description-body h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.ticket-description-body span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}

#body-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.ticket-details-status {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.ticket-details-status select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--semitransparent-bg);
    font-size: 1rem;
    width: 50%;
}

.ticket-details-notes-parts {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.tickets-details-notes,
.tickets-details-parts {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
    /* justify-content: center; */
    background-color: var(--login-bg);
    color: var(--text-color);
    gap: 1rem;
    border-radius: 10px;
    padding: 15px 15px;
    width: 50%;
    height: 400px;
}

#notes-parts {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--semitransparent-bg);
    border-bottom-color: #5e53a3;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.parts-container {
    width: 100%;
}