.edit-ticket-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--box-bg);
}

.edit-ticket-form h1 {
    color: var(--text-color);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.edit-ticket-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.edit-ticket-form-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.edit-ticket-form-input label {
    font-weight: bold;
    color: var(--text-color);
}

.edit-ticket-form-input input,
.edit-ticket-form-input textarea,
.edit-ticket-form-input select {
    padding: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--box-bg);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.edit-ticket-form-input input:focus,
.edit-ticket-form-input textarea:focus,
.edit-ticket-form-input select:focus {
    border-color: var(--ultra-violet);
    outline: none;
}

.edit-ticket-form-input textarea {
    resize: vertical;
    height: 100px;
}

.edit-ticket-form-input select {
    background-color: var(--seasalt);
}

.edit-ticket-form-error {
    color: var(--razzmatazz);
    font-size: 0.9rem;
}

button[type='submit'] {
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    background-color: var(--ultra-violet);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1rem;
}

button[type='submit']:hover {
    background-color: var(--razzmatazz);
}

button[type='submit']:disabled {
    background-color: var(--login-bg);
    cursor: not-allowed;
}
