.footer footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.footer-links a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.2s ease;
}