.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-links {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.nav-links-column {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.menu-item {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    color: #f0f0f0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.menu-item:hover {
    color: #5e53a3;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.menu-item.active {
    color: #5e53a3;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border-bottom: 2px solid #5e53a3;
}